{% extends 'base.html' %} 

{% block content %}

<div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2 card">
        <div class="card-content center-align">
            <h6 class="page-heading"><strong>All Recipes</strong></h6>
            <p>{{ recipes_total }} recipes found </p>
            <a href="" class="home-btn">Back Home</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        {% for recipe in recipes %}
        <div class="col s12 m6 l4">
            <div class="card large">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{{ recipe.image_url }}" class="activator">
                </div>
                <div class="card-content recipe-card">
                    <span class="card-title recipe-heading activator">{{recipe.recipe_name}}<i class="fas fa-ellipsis-v right"></i></span>
                    <p>{{recipe.recipe_description}}</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title recipe-heading ">{{recipe.recipe_name}}<i class="fas fa-times right"></i></span>
                    <div class="row recipe-info-all">
                        <span><strong>Author: </strong>{{ recipe.author }}</span><br>
                        <span><strong>Cuisine: </strong>{{ recipe.cuisine_name }}</span><br>
                        <span><strong>Category: </strong>{{ recipe.category_name }}</span><br>
                        <span><strong>Main Ingredient: </strong>{{ recipe.main_ingredient }}</span><br>
                    </div>
                    <i class="fas fa-angle-double-right"></i><a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}" class="view-btn">View Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


{% endblock %}
