{% extends 'base.html' %} 

{% block content %}

<div class="row card intro-card">
    <div class="card-content intro-card-content center-align">
        <h5 class="message">{{message|safe}}</h5>
        {% if 'username' in session %}
        {% else %}
        <span class="intro">
            <a href="{{url_for('signin')}}"><strong>Sign In</strong></a> or <a href="{{url_for('register')}}"><strong>Register</strong></a> to create your very own recipes and contribute to the community!
        </span>
        {% endif %}
    </div>
    
    <!-- Filter Dropdowns -->
    <div class="row filter-row digital-buttons center-align">
        <h5 class="message"></h5>
        <div class="col s12 m6 ">
            <div class="filter-btn">
            <a class='dropdown-button btn' href='#' data-activates='category_name'>Category</a>
            <ul id="category_name" class="dropdown-content">
                {% for category in categories %}
                <li><a href="{{ url_for('recipes_by_category', category_name=category.category_name) }}" class="white-text">{{ category.category_name }}</a></li>
                {% endfor %}
            </ul>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="filter-btn">
            <a class='dropdown-button btn' href='#' data-activates='main_ingredient'>Main Ingredient</a>
            <ul id="main_ingredient" class="dropdown-content">
                {% for ingredient in main_ingredients %}
                <li><a href="{{ url_for('recipes_by_main', main_ingredient=ingredient.main_ingredient) }}" class="white-text">{{ ingredient.main_ingredient }}</a></li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
</div>

<!-- Cuisine Grid -->
<div class="row">
    {% for cuisine in cuisines %}
    <div class="col s12 m6">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img src="{{ cuisine.cuisine_image }}" class="activator">
            </div>
            <div class="card-content">
                <span class="card-title cuisine-heading activator">{{cuisine.cuisine_name}}<i class="fas fa-ellipsis-v right"></i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title cuisine-heading">{{cuisine.cuisine_name}}<i class="fas fa-times right"></i></span>
                <p>{{cuisine.cuisine_description}}</p>
                <i class="fas fa-angle-double-right"></i>
                <a href="{{ url_for('recipes_by_cuisine', cuisine_name=cuisine.cuisine_name) }}" class="waves-effect waves-light view-btn">View All {{cuisine.cuisine_name}} Recipes</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


{% endblock %}